page-color = #d4d2c9
component-color = #f2e8b6
dark-component-color = #baa670
font = Andale Mono, monospace
common-border-radius = 0.25rem

*, body {
    margin: 0 
    padding: 0
}

.page {
    width: 100vw
    height: 100vh
    background-color: page-color
    font-family: font
    position: relative
    overflow: hidden
}

.drag-wrapper {
    position: absolute
    border-radius: common-border-radius
    cursor: pointer
    
    &:active {
        transform: scale(98%)
    }
}

.click {
    &.selected {
        border: dark-component-color 2px solid
    }      
    &:hover {
        transform: scale(102%)
    }
}

.component {
    background-color: component-color
    border-radius: common-border-radius
    box-shadow: inset 0 0 0.25rem 0.125rem dark-component-color
    user-select: none
}

.component-button {
    padding: 0
    font-family: font
    background-color: dark-component-color
    color: white
    outline: none
    border-radius: 0.15rem
    padding: 0.15rem 0.5rem
     &.selected {
        border: dark-component-color 2px solid
    }      
    &:hover {
        transform: scale(102%)
    }
}

.login {
    width: 12rem
    height: 4rem 
    display: flex
    flex-direction: column
    padding: 0.5rem 0
    gap: 0.75rem
    align-items: center
    justify-content: center
    font-family: font
    position: relative

    .submission {
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 0.5rem
    }
    
    input {
        padding: 0.25rem 1rem
        width: 4rem
        border-radius: 0.5rem
        outline-color: dark-component-color
        border-color: dark-component-color
    }
}

.photo-card  {
    width: 12rem
    height: 15rem
    display: flex
    flex-direction: column
    gap: 0.75rem
    align-items: center
    justify-content: center
    text-align: center

    .photo-opinion {
        display: flex
        flex-direction: row
        gap: 0.75rem
        align-items: center
        justify-content: center
    }

    img {
        width: 50%
        border-radius: common-border-radius
        border: 2px solid dark-component-color
    }
} 

.add-button {
    position: absolute
    right: 1rem
    bottom: 0.5rem
}

.remove-button {
    position: absolute
    left: 1rem
    bottom: 0.5rem
    transform: rotate(45deg)
}